.ClockFace{
    border: solid #ccc 2px;
    border-radius: 50%;
    height: 100%;
    position: relative;
    width: 76px;
}

.MinuteHandContainer, .HourHandContainer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.HourHand {
    background: #000;
    height: 44%;
    left: 48%;
    position: absolute;
    border-radius: 0px 0px 50px 50px;
    top: 7%;
    transform-origin: 50% 100%;
    width: 5%;
}

.MinuteHand {
    background: #000;
    height: 47%;
    left: 48%;
    position: absolute;
    border-radius: 0px 0px 50px 50px;
    top: 4%;
    transform-origin: 50% 100%;
    width: 5%;
}

.NormalHourHandContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 3s ease-in-out;
}

 .NormalMinuteHandContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 3s ease-in-out;
}

